body {
	font-family: 'cambria', sans-serif;
	color: whitesmoke;
	background: rgb(60, 60, 60);
}


h1 {
	font-weight: bold;
	color: rgb(252, 197, 0);
	text-shadow: 2px 2px black;
	font-size: 45px;	
}

h2, h3, h4 {
	font-family: 'cambria', monospace;
	color: rgb(252, 197, 0);
}
p {
	text-align: justify;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0));
}

.dot {
	color: rgb(252, 197, 0);
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.container > div {
	margin:  20px auto;
}
.intro {
	text-align: center;

}


.black-text {
		color: whitesmoke;
		font-size: 9pt;
		font-family: Menlo, monospace;
		text-align: left;
		opacity: 90%;
		letter-spacing: 0px;
		line-height: 14px;
		word-spacing: 1.2px;
		}

@media (max-width: 480px) {
	
	.black-text { 
		padding: 10px;
		font-size: 75%;
	}

	h2, h3, h4 {
		justify-self: center;
	}


	body {
	padding: 10px;
	font-size: 50%;
	}
}

.center {
	text-align: center;
	position: relative;
	margin-top: 0%;
}
	
	.projects-heading {
	text-align: center;
	font-size: 14pt;
	color: teal;
	font-family: cambria;
}	

.projects-grid {
	display: inline-grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	margin-top: 50px;
}

.project-image {
	box-shadow:  0 4px 6px 0 rgba( 40, 40, 40, 60);
	transition: all ease-in-out .2%;
}
.project-image:hover {
	filter: brightness(.4);
	box-shadow:  0 4px 6px 0 rgba( 40, 40, 40, 60);
}

.project-image-wrapper1 {
	justify-self: center;
	position: relative;
	margin-right: 80px;
}
.project-image-wrapper1:hover > h4 {
	visibility:  visible;
}
.project-image-wrapper1 > h4 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
}
.project-image-wrapper2 {
	justify-self: center;
	position: relative;
	margin-right: 45px;
}
.project-image-wrapper2:hover > h4 {
	visibility:  visible;
}
.project-image-wrapper2 > h4 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
}
.project-image-wrapper3 {
	justify-self: center;
	position: relative;
	margin-left: 10px;
}
.project-image-wrapper3:hover > h4 {
	visibility:  visible;
}
.project-image-wrapper3 > h4 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
}
.project-image-wrapper4 {
	justify-self: center;
	position: relative;
	margin-left: 89px;
}
.project-image-wrapper4:hover > h4 {
	visibility:  visible;
}
.project-image-wrapper4 > h4 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
}
.project-image-wrapper5 {
	justify-self: center;
	position: absolute;
	margin-left: 1073px;
}

.project-image-wrapper5:hover > h4 {
	visibility:  visible;
}
.project-image-wrapper5 > h4 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
}

@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 20% 20% 20% 20% 20%;
		
	}
	.project-image {
		width: 100%;
		height: auto;
	}

	.project-image-wrapper1 > h4, .project-image-wrapper2 > h4, .project-image-wrapper3 > h4, 
	.project-image-wrapper4 > h4, .project-image-wrapper5 > h4 {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20%;
	color: whitesmoke;
	visibility: hidden;  /* hidden by default and only visible after hover */
	z-index: .2;
	transition: all ease-in-out .2%;
	text-align: center;
	}

	.project-image-wrapper1 {
	justify-self: center;
	position: relative;
	margin-right: 0px;
	}
	.project-image-wrapper2 {
	justify-self: center;
	position: relative;
	margin-right: 0px;
	margin-top: 3px;

	}
	.project-image-wrapper3 {
	justify-self: center;
	position: relative;
	margin-left: 0px;
	margin-top:  8px;

	}
	.project-image-wrapper4 {
	justify-self: center;
	position: relative;
	margin-left: 0px;
	margin-top:  6px;

	}
	.project-image-wrapper5 {
	justify-self: center;
	position: relative;
	margin-left: 0px;

	}
}


.story-background {
	border-style: solid;
	border-radius: 1%;
	padding: 15px;
	border-color: rgba(30, 30, 30);
	background: rgba(30, 30, 30);
	opacity: 100%;

}


.italic {
	font-style: italic;
	font-weight: 100;
	font-family: lucida calligraphy;
}

.italic-bold {
	font-style: italic;
	font-weight: 900;
	font-family: lucida calligraphy;
}

.block-letter {
	font-weight: bold;
	font-family: arial black;
	color: ghostwhite;
 	text-shadow:.5px .5px 0 #808080, 2px 2px 0 #808080,
             	3px 4px 3px rgba(0, 0, 0, 0.5);

}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.i-am, .i-like {
	text-align:  start;
}

.about-list {
	list-style:  square;
	list-style-position: inside;
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}


.link-and-contact {
	display: grid;
	grid-template-columns: 50% 50%;	
}
.links{
	justify-self: center;
}

.link-list {
	list-style: square;
	padding: 0;
}


@media (max-width: 650px) {
	.link-and-contact {
		grid-template-columns: 100%;
	}
	.links{
	justify-self: left;
}


font input, textarea {
	padding: 5x;
	border-radius: 5px;
	width: 240px;
}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}






